*.iml
.gradle
/local.properties
.kotlin
/.idea/**
.DS_Store
**/build
/captures
.externalNativeBuild
.cxx
local.properties

# Project exclude paths
/savedstate-gson/build/
/savedstate-moshi/build/
/savedstate-serialization/build/